@addTagHelper *, InertiaCore
@addTagHelper *, InertiaCore.Vite
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InertiaCore DemoApp</title>
    <inertia-head />
    <vite-scripts />
</head>
<body>
    <inertia />
</body>
</html>
